.home {
    .content-section {
        @include media-breakpoint-up(sm) {
            margin-bottom: 80px;
        }
        &:first-child {
            margin-top: 0;
        }
    }
    .shield-image {
        max-width: 194px;
        margin: 0 auto;
    }
}
