.header-nav {
    z-index: 1;
    &__container {
        display: flex;
        flex-flow: row nowrap;
        padding: 38px var(--global__sizing__layout-spacing--default);
        max-width: $content-section-width-narrow;
    }
    &__brand-image {
        max-width: 218px;
    }
    &__menu,
    &__brand,
    &__cta {
        padding: 0;
        flex-basis: auto;
    }
}
