.nav-menu {
    &__list {
        font-size: $font-size-small;
        a {
            // needed to override the plugin defaults (this was not baked into Customizer)
            text-decoration: underline;
            &:hover {
                color: inherit;
            }
        }
    }
}
