@font-face {
    font-family: 'Saol Display';
    src: url('#{$font-path}/SaolDisplay-Light.otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Saol Display';
    src: url('#{$font-path}/SaolDisplay-LightItalic.otf');
    font-weight: 400;
    font-style: italic;
}
