.text {
    &--italic {
        font-style: italic;
        text-transform: initial;
    }
    &--lowercase {
        text-transform: lowercase;
    }
}

.scribble {
    &--circle,
    &--underline {
        position: relative;
        &:after {
            content: '';
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
        }
    }
    &--circle {
        &::after {
            background-image: url('../images/ml-scribble-circle.png');
            transform: scale(1.3);
        }
    }
    &--underline {
        &::after {
            background-image: url('../images/ml-scribble-underline.png');
            background-position-y: 10px;
        }
    }
}
